@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

body {
  --sb-track-color: #fff;
  --sb-thumb-color: #030dff;
  --sb-size: 5px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  cursor: ns-resize;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
